{% extends "layout.html" %}

{% block title %}Welcome to Our Photography Studio{% endblock %}

{% block content %}
<section class="about-me"> <h1>Üdvözöllek a fotóstúdiómban!</h1>
    <p>Szia, Gyurinka Zsuzsanna vagyok, egy lelkes és kreatív fotós Debrecenből. Szenvedélyem a pillanatok megörökítése, különösen az emberek egyedi szépségének és személyiségének megragadása portréfotókon keresztül.</p>

    <p>Bár elsősorban Debrecen és környékén tevékenykedem, szívesen utazom Budapestre is egy-egy izgalmas fotózás kedvéért. Fő profilom a portréfotózás, legyen szó üzleti portrékról, modell portfóliókról vagy személyes emlékekről. Hiszem, hogy minden arcban rejlik egy történet, és az én feladatom, hogy ezt a történetet a lehető legjobban megörökítsem.</p>
    
    <p>Fiatal vállalkozóként folyamatosan fejlesztem tudásomat és technikámat. A modern felszerelés mellett a kreativitás és a személyes kapcsolat az, ami igazán egyedivé teszi a munkáimat. Célom, hogy minden ügyfelem számára felejthetetlen élményt és időtálló emlékeket nyújtsak.</p>
    <p>Bár a portréfotózás áll hozzám a legközelebb, nyitott vagyok új kihívásokra is. Ha különleges igényed van - legyen szó esküvői fotózásról, családi eseményről vagy akár termékfotózásról - szívesen megbeszélem veled a lehetőségeket.</p>

    <p>Várom, hogy együtt alkossunk valami szépet és maradandót!</p>
    </section>    

{% endblock %}
