<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Photography Company{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Navigation Section -->
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if session["user_id"] %}
                <li><a href="{{ url_for('create_appointment') }}">Book Now</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><span>Welcome back, {{ session.get('username') }}!</span></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><span>Welcome to our Photography Studio</span></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 Photography Company</p>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">Rólam</a></li>
        </ul>
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>
